langchain==0.1.17
langchain-core==0.1.52
langchain-community==0.0.36
langchain-openai==0.1.6
langchain-huggingface
langchain-text-splitters
langchain-chroma
langchain-groq
sentence-transformers
transformers
huggingface-hub
chromadb
faiss-cpu
pypdf
pymupdf
streamlit
python-dotenv
pandas
ipykernel